<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26945532852-ep9d3j93l8d9aeqitb9rgd5g1v21ljf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26945532852-ep9d3j93l8d9aeqitb9rgd5g1v21ljf9</string>
	<key>API_KEY</key>
	<string>AIzaSyBGqpg3UgH61LFRO8GcxNFa6WQ_R2q7KzI</string>
	<key>GCM_SENDER_ID</key>
	<string>26945532852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.mixin27.chatDemo</string>
	<key>PROJECT_ID</key>
	<string>chatt-demo-68380</string>
	<key>STORAGE_BUCKET</key>
	<string>chatt-demo-68380.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26945532852:ios:ca9018d42b37422c2f38e1</string>
</dict>
</plist>